* {
    font-family: 'Comfortaa', sans-serif;
}

body  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 30px;
    width: 1376px;
    top: 0px;
    background-color: black;
}

.titulo a {
    text-decoration: none;
    text-align: center;  
}

.titulo h4 {
    color: white;  
    text-align: center;
}

.titulo h4:hover{
    color: #FFD43B;
}

.titulo i{
    position: absolute;
    right: 50px;
}

.display {
    margin-top: 30px;
    width: 460px;
    height: 420px;
    border-radius: 10px;
    overflow: auto;
    border: 1px solid gainsboro;
}

.limpar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 340px;
    margin-left: 370px;
}

.textIp{
    margin-top: 25px;
    margin-bottom: 20px;
    width: 320px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="27" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 64C28.7 64 0 92.7 0 128L0 384c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-256c0-35.3-28.7-64-64-64L64 64zm16 64l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM64 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zm16 80l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zm80-176c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zm16 80l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM160 336c0-8.8 7.2-16 16-16l224 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-224 0c-8.8 0-16-7.2-16-16l0-32zM272 128l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM256 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zM368 128l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM352 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zM464 128l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM448 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zm16 80l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px;
    padding-right: 30px; /* espaço para o ícone */   
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.entrada button{
    width: 100px;
    height: 35px;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.entrada button:hover{
    background-color: #FFD43B;
    color: #000000;
}

.listChat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 20px;
}

.listChat li {
    padding: 8px;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 8px;
    font-size: 13px;
    color: #ffffff;
    width: 360px;
    text-align: left;
    font-weight: bold;
    border: 1px solid gainsboro;
}

.listChat a{
    text-decoration: none;
    font-weight: bold;
    color: #0000EE;
}

.listChat span{
    visibility: hidden;
    font-size: 9px;
    margin-left: 100px;
    color: #0000EE;
}

.listChat a:hover ~ span{
    visibility: visible;
    color: #FFD43B;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #000000;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 1370px;
    height: 10px;
}

footer a {
    text-decoration: none;
    font-size: 9px;
    text-align: center;
    color: #ffffff;
}

footer a:hover{
    color: #FFD43B;
}