@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";*{box-sizing:border-box;margin:0;font-family:"Montserrat",sans-serif}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}


.logo{
    margin-top: 40px;
    margin-right: 900px;
    width: 200px;
}

.logo h4{
    margin-top: 10px;
    color: #FFD43B;
}

.formPessoal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
}

.formPessoal a {
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin-top: 3px;
    color: #FFD43B;
}

button {
    border: 1px solid #000000;
    border-radius: 8px;
    width: 145px;
    height: 40px;
    background-color: #000000;
    margin-top: 40px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
}

select{
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 250px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.imgPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.imgPerfil img{
    width: 80px;
    height: 80px;
}


.imgPerfil button{
    margin-top: 10px;
    background-color: #ffffff;
    color: #FFD43B;
    border: none;
}


.infoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
}

.infoPerfil input{
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 250px;
    height: 30px;
    margin: 10px;
}

.infoLogin input{
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 250px;
    height: 30px;
    margin: 10px;
}

.novaConta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.novaConta a{
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #FFD43B;
    margin-top: 80px;
    margin-bottom: 90px;
    width: 300px;
    font-weight: bold;
}

.novaConta a:hover{
    color: #000000;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #000000;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 1370px;
}

footer a {
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    color: #FFD43B;
}


.user{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 14px;
    padding-right: 30px; /* espaço para o ícone */
}

.pass{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 14px;
    padding-right: 30px; /* espaço para o ícone */
}